<h1 style="color:red, font-size:24px"><%= @product.name %></h1>
<p><%= @product.title %></p>


<%= link_to "Back", products_path %>
<%= link_to "Edit", edit_product_path(@product) %>
<%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
